@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


第一個Link：@Html.ActionLink(" ","index", null, new { @class ="btn btn-primary", data_name ="kevin" })
<br/>
第二個Link：<a href="@Url.Action("Index")" class="btn btn-success" data-name="kevin"></a>